.login_modal{
    text-align: right;
    padding-top: 2%;
}
.login_modal a{
    display: inline-block;
}
.blue-text{
    color: dodgerblue;
<<<<<<< HEAD
}
#success_message{ display: none;}
.breaker{
   margin-top: 40px;
=======
>>>>>>> b4ea416801dc674e1b185936c768e6caf4c628da
}